* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f6f7;
}

.skeleton {
    animation: skeleton-loading .9s linear infinite alternate;
}
@keyframes skeleton-loading {
    0%{
        background-color: hsl(200, 20%, 70%);
    }
    100%{
        background-color: hsl(200, 20%, 95%);
    }
}

.gallery {
    content-visibility: auto;
}

.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit:cover;
    border-radius: 10px;
}
@keyframes wiggle {
    0%{
        transform: rotate(0deg);
    }
    15%{
        transform: rotate(1deg);
    }
    30%{
        transform: rotate(0deg);
    }
    45%{
        transform: rotate(1deg);
    }
    60%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(1deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.gallery img:hover {
    animation: wiggle .5s;
}

#logo {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.header {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 10px solid #fe9901;
    margin-bottom: 20px;
    display: flex;
}

.header h1 {
    margin: auto;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    max-width: 1400px;
    margin: 0 auto;
    border: 10px double rgb(8, 21, 123);
    border-radius: 10px;
    gap: 16px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 350px;
    height: 300px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: rgb(0, 0, 0);
    transition: opacity .5s ease-in-out;
    cursor: pointer;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.container:hover .overlay {
    opacity: .7;
}

